<h3>Manage Phrases here</h3>

<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam temporibus animi quam magni minus earum at aliquid
  tenetur recusandae eius pariatur eaque iure quae reiciendis aspernatur, dignissimos modi numquam aperiam?</p>
<p>Quo porro sapiente, facere minima voluptas fugit est dolore fugiat quasi similique consequuntur libero
  laboriosam, sit deserunt debitis suscipit autem laborum iure possimus. Commodi, beatae nihil dolor fuga maxime
  aliquid.</p>
<p>Quibusdam sed ab, iste assumenda, ratione at veniam, neque voluptatem aliquid quaerat eos illo ipsum deserunt
  voluptates iure vel sequi minima et nobis! Dolor eos dolorum doloremque quia! Distinctio, iusto.</p>
